<div class="modal fade"
     id="addEquipmentModal"
     tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title">
                    Add Equipment
                </h4>

                <button
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div class="equipment-choice"
                     onclick="window.location='/equipment?open=gauge'">

                    <div class="choice-icon gauge">

                        <i class="bi bi-cpu"></i>

                    </div>

                    <div>

                        <h5>Memory Gauge</h5>

                        <small>
                            Register new Memory Gauge
                        </small>

                    </div>

                </div>


                <div class="equipment-choice"
                     onclick="window.location='/equipment?open=bundle'">

                    <div class="choice-icon bundle">

                        <i class="bi bi-link-45deg"></i>

                    </div>

                    <div>

                        <h5>Bundle Carrier</h5>

                        <small>
                            Register new Bundle Carrier
                        </small>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>