<div class="modal fade"
     id="userModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">

            <form id="userForm" method="POST">

                {{ form.hidden_tag() }}
                <input type="hidden" id="userId" name="user_id">

                <div class="modal-header">

                    <h5 class="modal-title">

                        <i class="bi bi-person-plus-fill me-2"></i>

                        <span id="userModalTitle">

    Create User

</span>

                    </h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>

                </div>

                <div class="modal-body">

                    <div class="row g-3">

                        <div class="col-md-6">

                            {{ form.full_name.label(class="form-label") }}

                            {{ form.full_name(class="form-control") }}

                        </div>

                        <div class="col-md-6">

                            {{ form.username.label(class="form-label") }}

                            {{ form.username(class="form-control") }}

                        </div>

                        <div class="col-md-6">

                            {{ form.email.label(class="form-label") }}

                            {{ form.email(class="form-control") }}

                        </div>

                        <div class="col-md-6">

                            {{ form.role.label(class="form-label") }}

                            {{ form.role(class="form-select") }}

                        </div>
                    <div class="row g-3" id="passwordFields">
                        <div class="col-md-6">

                            {{ form.password.label(class="form-label") }}

                            {{ form.password(class="form-control") }}

                        </div>

                        <div class="col-md-6">

                            {{ form.confirm_password.label(class="form-label") }}

                            {{ form.confirm_password(class="form-control") }}

                        </div>
                    </div>

                        <div class="col-12">

                            <div class="form-check form-switch">

                                {{ form.is_active(class="form-check-input") }}

                                {{ form.is_active.label(class="form-check-label") }}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        Cancel

                    </button>

                    <button
    type="submit"
    id="saveUserBtn"
    class="green-btn">

    <i class="bi bi-check-circle"></i>

    Save User

</button>

                </div>

            </form>

        </div>

    </div>

</div>